.form-group {
  position: relative;
  padding-bottom: 10px;
}
.label {
  position: absolute;
  font-size: 12px;
  bottom: 55px;
  left: 15px;
  background-color: white;
  padding: 3px;
}
.input {
  font-size: 25px;
  padding: 10px 9px 12px 14px;
  border-radius: 5px;

}
::placeholder {
  font-size: 16px;
  margin: 20px;
}