a {
  text-decoration: none;
}
.link1 {
  color: #000000;
  font-size: 14px;
  transition: .2s ease color;
  &:hover {
    color: $color-primary;
  }
}
.link2 {
  color: $color-background;
  font-size: 14px;
  transition: .2s ease color;
  &:hover {
    color: $color-primary;
  }
}