body {
  margin: 0;
}
h1 {
  font-size: 50px;
  font-family: 'Overpass';
}
h2 {
  font-size: 42px;
  font-family: 'Overpass';
}
h3 {
  font-size: 26px;
  font-family: 'Overpass';
}
h4 {
  font-size: 22px;
  font-family: 'Overpass';
}
h5 {
  font-size: 18px;
  font-family: 'Source Sans Pro';
  font-weight: 400;
}
.h1 {
  font-size: 50px;
  font-family: 'Overpass';
}
.h2 {
  font-size: 42px;
  font-family: 'Overpass';
}
.h3 {
  font-size: 26px;
  font-family: 'Overpass';
}
.h4 {
  font-size: 22px;
  font-family: 'Overpass';
}
.h5 {
  font-size: 18px;
  font-family: 'Source Sans Pro';
  font-weight: 400;
}

* {
  box-sizing: border-box;
}
