
.flex {
  display: flex;
}

.f-j-c {
  display: flex;
  justify-content: center;
}

.f-s-b {
  display: flex;
  justify-content: space-between;
}

.f-c {
  display: flex;
  justify-content: center;
  align-items: center;
}
